body {
    background-color: rgb(66, 64, 216);
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 20px;
  }
  .box {
    background-color: white;
    border-radius: 20px;
    padding: 50px 10px 30px 40px;
    position: relative;
    text-align: center;
    max-width: 50%;
    width: 250px;
    height: 100px;
  }
  .button {
    align-items: center;
    text-align: left;
    padding-left: 1px;
    
  }
  
  div {
    border: 1px solid black;
  }